td:nth-child(even) {
    margin-left: 3px;
}

.alert-primary {
    width: 500px;
    background-color: #071013 !important;
    color: #fff !important;
}

.champion-body {
    text-align: center;
    margin-top: -76px;
    margin-bottom: 10px;
    background-color: #071013;
    color: #fff;
}
.col-lg-2 {
    margin-top: 50px !important;
    margin-bottom: 10px !important;
}
.list-group-item {
    padding: 0px !important;
    margin-top: 10px
}
.alert-danger {
    width: 150px !important;
    background-color: #f0312d !important;
}
.alert-success {
    width: 120px !important;
    background-color: #5aba4a !important;
}
.alert-warning {
    width: 120px !important;
    background-color: #f7cc3b !important;
}
.alert-info {
    width: 250px !important;
    background-color: #63c8f2 !important;
}
.item-body {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color: #071013;
    color: #fff;
}
.item-title {
    font-size: 1rem;
}
.item-row {
    margin-top:20px !important;
}
.champion-row {
    margin-top:20px !important;
}
.item-one {
    margin-top: -5px;
}

.alert-price {
    background-color: #5aba4a  !important;
    color: #155724 !important;
}

.alert-sell {
    background-color: #f7cc3b !important;
    color: #155724 !important;
}

.item-images {
    width:
}

.navBarSearchForm {
    width:220px !important;
}

.ml-auto {
    margin-right: 40px;
}
.video-header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100vh !important;
    padding: 0px !important;
    align-items: flex-start;
}
.carousel {
    height: 100vh !important;
}
.carousel {
    height: 100vh;
    width: 100%;
    overflow:hidden;
}
.carousel .carousel-inner {
    height:100%;
}
.image_logo {
    margin-top: 90px;
    position: absolute;
    z-index: 1;
    max-width: 100%;
}
.image_logo_style {
    width: 300px;
}

.row-info {
    margin-top: 90px;
}
.card {
    margin-bottom: 90px;
}
.card-block {
    margin-top: 20px;
    text-align: center;
    height: 200px;
    padding: 20px;
}
.card-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3rem;
    font-weight: 700;
}
.card-text {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
}

